body{
    font-family: Poppins;
    font-size: 1rem;
    color: #4D4F62;
    background-color: #F2F2F2;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

p {
    opacity: 0.5;
}

h2 {
    font-size: 2.25rem;
    font-weight: 275;
    line-height: 3.375rem;
    margin-bottom: 0;
}
h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.375rem;
    margin-top: 0;
    margin-bottom: 0;
}

.main-p {
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 33rem;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}


div {
    position: relative;
    max-width: 21rem;
    max-height: 15rem;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.grid-container h1 {
    font-size: 1.25rem;
    line-height: 2.375rem;
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.grid-container p {
    font-size: 0.813rem;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.grid-container img {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}


.bar-builder,
.bar-calculator,
.bar-karma,
.bar-supervisor {
    border: 2px solid;
}

.bar-builder {
    border-color: #EA5454;
}

.bar-calculator {
    border-color:#549EF2;
}

.bar-karma {
    border-color:#FCAE4A;
}

.bar-supervisor {
    border-color:#44D3D2;
}

/*MEDIA QUERIES*/

@media (min-width: 600px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .grid-container :nth-child(1) { order: 2; }
        .grid-container :nth-child(2) { order: 4; }
        .grid-container :nth-child(3) { order: 3; }
        .grid-container :nth-child(4) { order: 1; }
    .grid-container p {
        padding-bottom: 7.375rem;
    }
    .title,
    .slogan,
    .main-p {
        text-align: center;
        max-width: 320px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: [line1] 350px [line2] 30px [line3] 350px [line4] 30px [line5] 350px [line6];
        grid-template-rows: [row1] 140px [row2] 110px [row3] 30px [row4] 110px [row5] 140px [last-line];
    }
    
    .team-builder {
        grid-column-start: line3;
        grid-column-end: line4;
        grid-row-start: row1;
        grid-row-end: row3;
    }
    
    .calculator {
        grid-column-start: line5;
        grid-column-end: line6;
        grid-row-start: row2;
        grid-row-end: row5;
    }
    
    .karma {
        grid-column-start: line3;
        grid-column-end: line4;
        grid-row-start: row4;
        grid-row-end: last-line;
    }
    
    .supervisor {
        grid-column-start: line1;
        grid-column-end: line2;
        grid-row-start: row2;
        grid-row-end: row5;
    }
}
    